name: CI
on:
  push:
    branches:
      - main
  pull_request:

env:
  GO_VERSION: 1.24.5

jobs:
    lint:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup Go
          uses: actions/setup-go@v5
          with:
            go-version: ${{ env.GO_VERSION }}

        - name: Lint
          uses: golangci/golangci-lint-action@v8
          with:
            args: --timeout=5m

    test:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup Go
          uses: actions/setup-go@v5
          with:
            go-version: ${{ env.GO_VERSION }}

        - name: Test
          env:
            TESTCOVERAGE_THRESHOLD: 0
          run: |
            echo "Running test..."
            go test -p 1 -v -coverpkg=./... -coverprofile=profile.cov ./... | tee test.log
            sed -i '/^apt-aggregator\/cmd\/app\/main.go/ d' profile.cov
            go tool cover -func profile.cov

            echo "------------------"

            fail=`grep "FAIL:" test.log` || true
            echo "$fail"
            if [ -z "$fail" ]; then
              pass=`grep "PASS:" test.log` || true
              echo "$pass"
              echo "--- ALL TESTCASES PASSED"
            else
              echo "--- SOME TESTCASES FAILED"
            fi

            echo "Threshold: $TESTCOVERAGE_THRESHOLD%"
            totalCoverage=`go tool cover -func=profile.cov | grep total | grep -Eo '[0-9]+\.[0-9]+'`
            echo "Current test coverage: $totalCoverage%"
            if (( $(echo "$totalCoverage $TESTCOVERAGE_THRESHOLD" | awk '{print ($1 > $2)}') )); then
              echo "OK"
              exit 0
            else
              echo "Current test coverage is below threshold. Please add more unit tests."
              echo "Exit 1"
              exit 1
            fi
